:root {
  --first-color: #39267e;
  --white: #fff;
  --light-white: #f9f9f9;
  --off-white: #9da2a4;
  --black: rgb(3, 3, 3);
  --purple: #6f277d;
  --hashtag: #39267f1a;
  --red: #7d2726;
  --delete: #f6002c;
  --edit-color: #ff9f00;
  --blue: #24b4ba;
  --text-one: #1c315b;
  --background-color: #95a2a8;
  --text-color: #afb8bd;
  --footer-color: #1f396c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  margin: 0;
  background: var(--light-white);
  /* background: cadetblue; */
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  overflow-x: hidden;
  /* overflow: hidden; Hide scrollbars */
}

a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
.swiper-wrapper {
  overflow-x: visible !important;
}
